<% if error.errors.any? %>
	<h3><%= error.errors.count %>error occurrence</h3><!--エラーメッセ-->
	<ul>
		<% error.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
<% end %>